<div class="container"></div>
	<div class="row">
		<div class="col-sm-12">
			<h1>Productos</h1>
			<div class="text-right">
				<%= link_to "Publicar producto", new_product_path, class: "btn btn-primary" %>
			</div>
			<table class="table">
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>URL</th>
					<th>Descripcion</th>
				</tr>
				<% @products.each do |p| %>
					<tr>
						<th><%= p.id %></th>
						<td><%= link_to p.name, p %></td>
						<th><%= p.url %></th>
						<th><%= p.description %></th>
						<th>
							<%= link_to "Editar", edit_product_path(p) %>
							<%= link_to "Eliminar", p, method: :delete, data: {confirm: "Seguro de seas eliminar el producto #{p.name}"} %>		
						</th>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
